<div class="space column center max-width row-10">
	<h3 class="magenta">Get To Know Me</h3>
	<p>
    I discovered my passion for web development in 1998 when I first learned HTML and later helped improve my school district’s web pages. Over the years, I built an eCommerce site, earned a MERN stack certification, and kept honing my skills through hands-on projects. Now, I’m focused on continuous learning and developing my own Python web framework.
  </p>
	<a href="/about" class="link-light">Read More...</a>
</div>