<footer class="section-magenta">
	<div class="section-content row-20 flip jcenter">
		<div class="row-10 column acenter">
			<p class="small">
				I'm a web developer working with Python and JavaScript, building functional and user-friendly applications. I'm focused on always learning and exploring new technologies to improve my craft. Based in Central NJ.
			</p>
			<p class="small">
				This website is running on a Flask web server, with its built-in template engine. The data is managed through PyMongo. All other content, except where noted otherwise, has been created and developed by me.
			</p>
		</div>
		<div class="row-10 column acenter bold fit wrap unflip">
			<a href="/" class="link-teal small">Home Page</a>
			<a href="/projects" class="link-teal small">My Projects</a>
			<a href="/about" class="link-teal small">About Me</a>
			<a href="/contact" class="link-teal small">Contact Information</a>
			<a href="/quiggle" target="_blank" class="link-yellow small">Quiggle</a>
		</div>
		<div class="row-10 column acenter fit">
			<p class="small">c. 2025, by Jason Thompson</p>
			<a href="http://github.com/jake-the-cake" target="_blank" class="link-light small">Github</a>
			<a href="http://linkedin.com/in/ask-jake-thompson" target="_blank" class="link-light small">LinkedIn</a>
			<div class="row-05">
				Socials
			</div>
		</div>
	</div>
</footer>