<div id="change-form" class="space column center max-width">
    <p class="status">
        {% if not user %}
            You Are Not Logged In
            <span>(Not Required)</span>
        {% elif user.get('error') %}
            {{ user['error'] }}
        {% else %}
            Logged in as: {{ user.email }}
        {% endif %}
    </p>
    {% if user %}
    <div class="row-10 jcenter">
        <button class="btn-teal">Dashboard</button>
        <button class="btn-teal-outline">Logout</button>
    </div>
    {% else %}
        <div class="row-10 jcenter can-shrink">
            <button class="btn-yellow">Login</button>
            <button class="btn-magenta">Register</button>
        </div>
        {% include 'forms/login.html' %}
        {% include 'forms/register.html' %}
        <script src="{{ url_for('static', filename='js/apps/change-form.js') }}"></script>
    {% endif %}
</div>