<div class="section-magenta" id="social-media">
	<div class="section-content row-20 column acenter">
		<h3 class="light">Social Media Links</h3>
		<p class="small">
			If you're curious about my work or want to reach out, these links lead the way.
		</p>
		<div class="row-10 jcenter">
			<a href="http://github.com/jake-the-cake" target="_blank">
				<button class="btn-yellow-outline">Github</button>
			</a>
			<a href="http://linkedin.com/in/ask-jake-thompson" target="_blank">
				<button class="btn-teal-outline">LinkedIn</button>
			</a>
		</div>
		<div class="row-10 jcenter">
			Social buttons
		</div>
	</div>
</div>