:root {
	--teal-hue: 180;
	--magenta-hue: 300;
	--yellow-hue: 60;

	--teal-sat: 100%;
	--magenta-sat: 95%;
	--yellow-sat: 100%;

	--teal: hsl(var(--teal-hue), var(--teal-sat), 30%);
	--magenta: hsl(var(--magenta-hue), var(--magenta-sat), 45%);
	--yellow: hsl(var(--yellow-hue), var(--yellow-sat), 55%);

	--teal-dim: hsl(var(--teal-hue), var(--teal-sat), 30%, .8);
	--magenta-dim: hsl(var(--magenta-hue), var(--magenta-sat), 45%, .8);
	--yellow-dim: hsl(var(--yellow-hue), var(--yellow-sat), 55%, .8);

	--teal-half: hsl(var(--teal-hue), var(--teal-sat), 30%, .5);
	--magenta-half: hsl(var(--magenta-hue), var(--magenta-sat), 45%, .5);
	--yellow-half: hsl(var(--yellow-hue), var(--yellow-sat), 55%, .5);

	--teal-trans: hsl(var(--teal-hue), var(--teal-sat), 30%, .2);
	--magenta-trans: hsl(var(--magenta-hue), var(--magenta-sat), 45%, .2);
	--yellow-trans: hsl(var(--yellow-hue), var(--yellow-sat), 55%, .2);

	--shadow: 4px 4px 0 var(--yellow-dim);
	--shadow-light: 4px 4px 0 var(--yellow-trans);

	--light: hsl(0, 0%, 95%);
	--light-trans: hsl(0, 0%, 95%, .2);
	--light-half: hsl(0, 0%, 95%, .5);
	--light-dim: hsl(0, 0%, 95%, .8);

	--dark: hsl(0, 0%, 5%);
	--dark-trans: hsl(0, 0%, 5%, .2);
	--dark-half: hsl(0, 0%, 5%, .5);
	--dark-dim: hsl(0, 0%, 5%, .8);
}

* {
	box-sizing: border-box;
	font-size: 1em;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--dark-dim);
	display: flex;
	flex-direction: column;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 0;
	padding: 0;
}

p {
	letter-spacing: 1px;
}

h1 {
	font-size: 3rem;
	margin: 0;
}

h3 {
	font-size: 2rem;
	margin: 0;
}

h3.small {
	font-size: 1rem !important;
}

p, span {
	font-size: 1rem;
	padding: 0;
	margin: 0;
}

a button {
	text-decoration: none;
}

label, input, select, textarea {
	font-size: 1rem;
}

select, input, textarea {
	background-color: var(--teal-trans);
	padding: .5rem;
	border-radius: .5rem;
	border-color: var(--teal);
	color: var(--yellow);
	font-weight: 700;
}

nav {
	margin-block: -1rem;
}

footer {
	padding-inline: 1rem;
}

#change-form {
	height: 100%;
}

.shrinkY {
	height: 0px !important;
	overflow: hidden;
}

.can-shrink {
	width: 100%;
	height: 100%;
}

.link-dark,
.link-light,
.link-teal,
.link-magenta,
.link-yellow {
	--color: var(--light);
	text-decoration: underline;
	font-variant: small-caps;
	color: var(--color);
	transition: .2s color;
	cursor: pointer;
}

.link-teal {
	--color: var(--teal);
}

.link-teal:hover {
	--color: var(--teal-dim);
}

.link-magenta {
	--color: var(--magenta);
}

.link-magenta:hover {
	--color: var(--magenta-dim);
}

.link-yellow {
	--color: var(--yellow);
}

.link-yellow:hover {
	--color: var(--yellow-dim);
}

.link-dark {
	--color: var(--dark);
}

.link-dark:hover {
	--color: var(--dark-dim);
}

.link-light {
	--color: var(--light);
}

.link-light:hover {
	--color: var(--light-dim);
}
.max-width {
	width: 75%;
	max-width: 600px;
}

.max-column {
	width: 50%;
	max-width: 400px;
}

.small {
	font-size: .8rem;
}

.hero {
	text-align: center;
	color: var(--dark);
	background: linear-gradient(135deg, var(--teal), var(--magenta), var(--yellow));
	padding-block: 4rem;
}

.hero h1,
.hero h3 {
	text-shadow: var(--shadow-light);
}

.hero p {
	background-color: var(--light-trans);
	font-size: 1.2rem;
	margin: 2rem auto;
	max-width: 600px;
	padding: 1rem;
	width: 75%;
}

.section-teal,
.section-magenta,
.section-yellow {
	border-bottom: 4px solid var(--botborder);
	border-top: 4px solid var(--topborder);
	display: flex;
	justify-content: center;
	overflow: hidden;
	padding-block: 2rem;
	position: relative;
	width: 100vw;
}

.section-teal {
	--mainbg: var(--teal);
	--topbg: var(--yellow);
	--botbg: var(--magenta);
	--topborder: var(--yellow-trans);
	--botborder: var(--magenta-trans);
}

.section-magenta {
	--mainbg: var(--magenta) !important;
	--topbg: var(--teal) !important;
	--botbg: var(--yellow) !important;
	--topborder: var(--teal-trans) !important;
	--botborder: var(--yellow-trans) !important;
}

.section-yellow {
	--mainbg: var(--yellow) !important;
	--topbg: var(--magenta) !important;
	--botbg: var(--teal) !important;
	--topborder: var(--magenta-trans) !important;
	--botborder: var(--teal-trans) !important;
}

.section-teal::before,
.section-magenta::before,
.section-yellow::before {
	content: '';
	background: linear-gradient(135deg, var(--topbg), var(--botbg));
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0; left: 0;
	z-index: 1;
}

.section-teal::after,
.section-magenta::after,
.section-yellow::after {
	content: '';
	background-color: var(--mainbg);
	width: 140%;
	height: 110%;
	margin: auto;
	position: absolute;
	top: -5%; left: -20%;
	rotate: -2deg;
	z-index: 2;
	border-radius: 30%;
}

.alt-font {
	font-family: cursive;
	font-weight: bolder;
}

.space {
	align-items: center;
	color: var(--light);
	display: flex;
	justify-content: center;
	margin: 3rem auto;
}

.space h3,
.section-content h3 {
	--font-color: var(--dark);
	--shadow-color: var(--light-dim);
	margin: 0;
	padding: 0;
	font-size: 2rem;
	color: var(--font-color);
	text-shadow: 1px 1px 0 var(--shadow-color);
	text-align: center;
}

.note {
	margin-block: 1rem;
	letter-spacing: 1px;
	font-size: .9rem;
}

h3.none {
	--shadow-color: transparent;
}

h3.light {
	--font-color: var(--light);
	--shadow-color: var(--dark);
}

h3.teal {
	--font-color: var(--teal);
	--shadow-color: var(--magenta-dim);
}

h3.magenta {
	--font-color: var(--magenta);
	--shadow-color: var(--yellow-dim);
}

h3.yellow {
	--font-color: var(--yellow);
	--shadow-color: var(--teal-dim);
}

.space p {
	background-color: var(--dark-half);
	max-width: 600px;
	padding: 1rem;
	text-align: center;
	width: 75%;
}

.title {
	color: var(--magenta);
	font-size: 1rem;
}

.section-content {
	z-index: 3;
	position: relative;
	font-size: 1rem;
}

.section-content * {
	text-align: center;
}

.row-05 {
	display: flex;
	gap: .5rem;
}

.row-10 {
	display: flex;
	gap: 1rem;
}

.row-20 {
	display: flex;
	gap: 2rem;
}


.unflip,
.unflip-reverse {
	flex-direction: column;
}

.column {
	display: flex;
	flex-direction: column;
}

.center {
	align-items: center;
	justify-content: center;
}

.acenter {
	align-items: center;
}

.jcenter {
	justify-content: center;
}

.fit {
	min-width: fit-content;
}

.flip {
	display: flex;
}

.btn-teal,
.btn-magenta,
.btn-yellow,
.btn-teal-outline,
.btn-magenta-outline,
.btn-yellow-outline {
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--accentcolor);
    text-shadow: 1px 1px 0 var(--dark-half);
    background-color: var(--bgcolor);
    padding: 0.5rem 2rem;
    border: 1px solid var(--accentcolor);
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 4px 4px 0 var(--accentcolor);
    transition: transform 0.2s, box-shadow 0.2s, background 0.2s;
}

.btn-teal:hover,
.btn-magenta:hover,
.btn-yellow:hover,
.btn-teal-outline:hover,
.btn-magenta-outline:hover,
.btn-yellow-outline:hover {
    transform: translate(3px, 3px);
    box-shadow: 1px 1px 0 var(--accentcolor);
    background-color: var(--hovercolor);
}

.btn-teal {
    --bgcolor: var(--teal-dim);
    --accentcolor: var(--magenta-dim);
    --hovercolor: var(--teal);
}

.btn-yellow {
	--bgcolor: var(--yellow-dim);
	--accentcolor: var(--teal-dim);
	--hovercolor: var(--yellow);
}

.btn-magenta {
	--bgcolor: var(--magenta-dim);
	--accentcolor: var(--yellow-dim);
	--hovercolor: var(--magenta);
}

.btn-teal-outline,
.btn-magenta-outline,
.btn-yellow-outline {
	text-shadow: 1px 1px 0 var(--light-trans);
	--bgcolor: var(--dark-dim);
	--hovercolor: var(--dark);
}

.btn-teal-outline {
	--accentcolor: var(--teal-dim);
}

.btn-magenta-outline {
	--accentcolor: var(--magenta-dim);
}

.btn-yellow-outline {
	--accentcolor: var(--yellow-dim);
}

.bold {
	font-weight: 900;
}

.status {
	font-style: italic;
	font-weight: 700;
	color: var(--magenta);
	font-size: .9rem;
	margin: 0 auto 1rem;
}

.status span {
	display: block;
	font-size: .8rem;
	color: var(--light-dim);
	font-weight: 100;
}

.project-desc {
	font-size: 1rem;
}

.icon-large {
	width: 150px;
	height: 150px;
}

.wrap {
	 flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
	.flip {
		flex-direction: column;
	}
	
	.unflip-reverse {
		flex-direction: row-reverse !important;
	}

	.unflip {
		flex-direction: row !important;
	}

	.jcenter {
		align-items: center !important;
		justify-content: inherit;
	}

	.acenter {
		justify-content: center !important;
		align-items: inherit;
	}

	.icon-large {
		width: 50px;
		height: 50px;
	}

	.inline-10 {
		padding-inline: 1rem;
	}

	a button {
		font-size: .8rem !important;
	}

	a, span {
		font-size: .8rem;
	}

	* {
		font-size: .7em;
	}
	.section-teal::after,
	.section-magenta::after,
	.section-yellow::after {
		width: 180%;
		top: -5%; left: -40%;
		rotate: -5deg;
		border-radius: 40%;
	}
	.section-teal,
	.section-magenta,
	.section-yellow {
		border-width: 2px;
	}
}