{% extends 'base.html' %}

{% block subtitle %} - About{% endblock %}

{% block content %}
<div class="hero">
	<h1>About Me</h1>
	<p>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius sed, incidunt id corrupti dolorem officia iste amet illo omnis quas tempore consequuntur repellat ipsa quos enim adipisci. Enim, debitis voluptatibus.
	</p>
	<div class="row-10 jcenter flip">
		<a href="#contact-form">
			<button class="btn-yellow">Contact</button>
		</a>
		<a href="#social-media">
			<button class="btn-magenta">My Work</button>
		</a>
	</div>
</div>
<div class="space row-10 column acenter max-width">
  <h3 class="yellow">Who Am I?</h3>
	<span>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium ex magni sit nesciunt, facere non laboriosam vero sunt quisquam minus? Corporis nihil aliquam at architecto saepe, vero et molestias! Enim.
  </span>
</div>
<div class="section-teal">
	<div class="section-content">
    <h3 class="light">Why Do I Code?</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas dolorum dolor culpa veritatis repudiandae unde ea necessitatibus tempore, recusandae, consequuntur et laborum! Fugit dignissimos laudantium illo dicta hic ullam possimus.</p>
	</div>	
</div>
<div class="space row-20 column center max-width">
  <h3 class="teal">Early Life</h3>
	<span>
    My passion for web development began in 1998 when I first started learning HTML. I was fascinated by how a few lines of code could shape a webpage, and I spent hours experimenting and building. In high school, I excelled in my Java class, quickly mastering the language and gaining the trust of my instructors. 
  </span>
  <p>
    This led to a rare opportunity—being given access to the entire school district's server, so that I could improve the design and functionality of various school web pages.
  </p>
</div>
<div class="section-yellow" id="social-media">
	<div class="section-content row-20 column center max-width">
		<h3>Growth And Development</h3>
    <p>
      Not long after high school, I teamed up with friends to start an eCommerce business. My role was clear—I built the website and online store, laying the foundation for our digital presence. This hands-on experience reinforced my love for web development and set me on a path to deepen my skills. Later, I pursued and earned a certification in the MERN stack, sharpening my expertise in modern web technologies and full-stack development.
		</p>
	</div>	
</div>
<div class="space row-10 column center max-width">
  <h3 class="magenta">Current Project Updates</h3>
  <span>
    I continue to grow as a developer through constant learning, using free online resources, experimentation, and real-world practice. My current focus is on Python, which I’ve integrated into my backend development workflow. Right now, I’m working on a Python web framework, pushing myself to create efficient, flexible solutions from the ground up. Each project I take on is an opportunity to refine my skills and explore new possibilities in development.
  </span>
</div>
{% include 'components/social-links.html' %}
{% include 'components/projects-promo.html' %}
{% endblock %}