{% extends 'base.html' %}

{% block subtitle %} - About{% endblock %}

{% block content %}
<div class="hero">
	<h1>About Me</h1>
	<p>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius sed, incidunt id corrupti dolorem officia iste amet illo omnis quas tempore consequuntur repellat ipsa quos enim adipisci. Enim, debitis voluptatibus.
	</p>
	<div class="row-10 jcenter flip">
		<a href="#contact-form">
			<button class="btn-yellow">Contact</button>
		</a>
		<a href="#social-media">
			<button class="btn-magenta">My Work</button>
		</a>
	</div>
</div>
<div class="space row-10 column acenter max-width">
	Early Life
</div>
<div class="section-teal" id="social-media">
	<div class="section-content">
		Personal development
	</div>	
</div>
<div class="space row-10 column acenter max-width">
	Current Project updates
</div>
{% include 'components/social-links.html' %}
<div class="space row-10 column acenter max-width">
	Link to Projects
</div>
{% endblock %}