<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jason Thompson, Web Developer{% block subtitle %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="styles.css") }}">
    <script src="{{ url_for('static', filename='buttons.js') }}" defer></script>
</head>
<body>
    <div class="section section-yellow">
        <nav class="section-content flex-g1">
            <a href="/">
                <button class="button btn-teal">Home</button>
            </a>
            <a href="/about">
                <button class="button btn-teal">About</button>
            </a>
            <a href="/projects">
                <button class="button btn-teal">Projects</button>
            </a>
            <a href="/contact">
                <button class="button btn-teal">Contact</button>
            </a>
        </nav>
    </div>
    {% block content %}No Content.{% endblock %}
</body>
</html>