{% extends 'base.html' %}

{% block subtitle %} - Contact{% endblock %}

{% block content %}
<div class="hero">
	<h1>Contact Info</h1>
	<p>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius sed, incidunt id corrupti dolorem officia iste amet illo omnis quas tempore consequuntur repellat ipsa quos enim adipisci. Enim, debitis voluptatibus.
	</p>
	<div class="row-10 jcenter flip">
		<a href="#contact-form">
			<button class="btn-yellow-outline">Contact Form</button>
		</a>
		<a href="#social-media">
			<button class="btn-teal-outline">Social Media</button>
		</a>
		<a href="#information">
			<button class="btn-magenta-outline">Information</button>
		</a>
	</div>
</div>
<div class="space row-10 column acenter max-width" id="contact-form">
	<h3 class="yellow">Send Me A Message</h3>
	{% with messages = get_flashed_messages() %}
		{% if messages|length > 0 %}
			{% for m in messages %}
			<p class="small">{{ m }}</p>
			{% endfor %}
		{% else %}
		{% if form.email.errors %}
			<p class="small">
				{% for error in form.email.errors %}
					{{ error }}
				{% endfor %}
			</p>
		{% endif %}
		<form class="row-10 column acenter" method="POST">
			{{ form.hidden_tag() }}
			<div class="column">
				{{ form.name.label }}
				{{ form.name }}
			</div>
			<div class="column">
				{{ form.email.label }}
				{{ form.email }}
			</div>
			<div class="column">
				{{ form.message.label }}
				{{ form.message(rows="6") }}
			</div>
			<div class="row-10 jcenter">
				{{ form.submit(class='btn-magenta') }}
				<button class="btn-magenta-outline" id="clear-form-button">Clear</button>
			</div>
		</form>
		<script>
			const form = document.querySelector('#contact-form').querySelector('form')
			const clearButton = form.querySelector('#clear-form-button')
			clearButton.addEventListener('click', (e) => {
				e.preventDefault()
				form.reset()
			})
		</script>
		{% endif %}
	{% endwith %}
</div>
<div class="section-magenta" id="social-media">
	<div class="section-content row-10 column acenter">
		<h3>Social Media Links</h3>
		<p class="small">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae reiciendis repellat atque dolore maxime rerum asperiores facere id similique dignissimos laudantium quia tenetur inventore vel, eaque, ex commodi explicabo? Quis.
		</p>
		<div class="row-10 jcenter">
			<a href="https://github.com/jake-the-cake" target="_blank">
				<button class="btn-yellow-outline">Github</button>
			</a>
			<a href="https://linkedin.com/in/ask-jake-thompson" target="_blank">
				<button class="btn-teal-outline">LinkedIn</button>
			</a>
		</div>
		<div class="row-10 jcenter">
			Social buttons
		</div>
	</div>
</div>
<div class="space row-10 column acenter max-width">
	Link to About
</div>
<div class="section-teal" id="information">
</div>
<div class="space row-10 column acenter max-width">
	Link to Projects
</div>
{% endblock %}