{% extends 'base.html' %}

{% block subtitle %} - Contact{% endblock %}

{% block content %}
<div class="hero">
	<h1>Contact Info</h1>
	<p>
		Interested in working together or have a project in mind? Feel free to get in touch to discuss opportunities, collaborations, or any inquiries you may have.
		</p>
	<div class="row-10 jcenter flip">
		<a href="#contact-form">
			<button class="btn-yellow-outline">Contact Form</button>
		</a>
		<a href="#social-media">
			<button class="btn-teal-outline">Social Media</button>
		</a>
		<a href="#information">
			<button class="btn-magenta-outline">Information</button>
		</a>
	</div>
</div>
{% include 'forms/contact.html' %}
<div class="section-magenta" id="social-media">
	<div class="section-content row-20 column acenter">
		<h3>Social Media Links</h3>
		<p class="small">
			If you're curious about my work or want to reach out, these links lead the way.
		</p>
		<div class="row-10 jcenter">
			<a href="https://github.com/jake-the-cake" target="_blank">
				<button class="btn-yellow-outline">Github</button>
			</a>
			<a href="https://linkedin.com/in/ask-jake-thompson" target="_blank">
				<button class="btn-teal-outline">LinkedIn</button>
			</a>
		</div>
		<div class="row-10 jcenter">
			Social buttons
		</div>
	</div>
</div>
{% include 'components/about-preview.html' %}
<div class="section-teal" id="information">
	<div class="section-content row-20 column acenter">
		<h3>Contact Information</h3>
		<div class="column acenter">
			<h3 class="small light">Email</h3>
			<p>ASKJAKE331@gmail.com</p>
		</div>
		<div class="column acenter">
			<h3 class="small light">Call/Text</h3>
			<p>732-443-0550</p>
		</div>
		<div class="column acenter">
			<h3 class="small light">Location</h3>
			<p>Central NJ (Ocean County)</p>
		</div>
	</div>
</div>
<div class="space row-10 column acenter max-width">
	Link to Projects
</div>
{% endblock %}