{% extends 'base.html' %}

{% block subtitle %} - Contact{% endblock %}

{% block content %}
<div class="hero">
	<h1>Contact Info</h1>
	<p>
		Interested in working together or have a project in mind? Feel free to get in touch to discuss opportunities, collaborations, or any inquiries you may have.
		</p>
	<div class="row-10 jcenter flip">
		<a href="#contact-form">
			<button class="btn-yellow-outline">Contact Form</button>
		</a>
		<a href="#social-media">
			<button class="btn-teal-outline">Social Media</button>
		</a>
		<a href="#information">
			<button class="btn-magenta-outline">Information</button>
		</a>
	</div>
</div>
{% include 'forms/contact.html' %}
{% include 'components/social-links.html' %}
{% include 'components/about-preview.html' %}
<div class="section-teal" id="information">
	<div class="section-content row-20 column acenter">
		<h3>Contact Information</h3>
		<div class="column acenter">
			<h3 class="small light">Email</h3>
			<p>ASKJAKE331@gmail.com</p>
		</div>
		<div class="column acenter">
			<h3 class="small light">Call/Text</h3>
			<p>732-443-0550</p>
		</div>
		<div class="column acenter">
			<h3 class="small light">Location</h3>
			<p>Central NJ (Ocean County)</p>
		</div>
	</div>
</div>
<div class="space row-10 column acenter max-width">
	Link to Projects
</div>
{% endblock %}