{% extends 'base.html' %}

{% block subtitle %} - Home{% endblock %}

{% block content %}
<div class="hero">
    <h1>Jason Thompson,</h1>
    <h3>Web Developer</h3>
    <p>
        I've had a passion for designing websites and solving tough problems through code since childhood. I'm quick to learn, eager to grow, and always looking for ways to improve. For me, it’s all about creating something functional, unique, and meaningful.
    </p>
    <a href="/projects">
        <button class="btn-yellow">View My Work</button>
    </a>
</div>
{% include 'components/github-promo.html' %}
<div class='section-teal'>
    <div class="section-content row-10 flip center max-width">
        <div class="row-10 unflip-reverse center">
            <h3 class="alt-font">Python</h3>
						<svg class='icon-large' viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
							<rect x="" y="0" width="100" height="100" rx="10" fill="var(--dark)"/>
							<rect x="2" y="2" width="96" height="96" rx="10" fill="var(--magenta)"/>
							<rect x="5" y="5" width="90" height="90" rx="10" fill="var(--dark)"/>
							<text x="15" y="70" style="font-size: 60px;" font-weight="bold" fill="var(--magenta)" font-family="Arial">Py</text>
						</svg>
        </div>
				<div class="row-10 column acenter">
					<div class="column">
						<h3 class="small">Top Libraries</h3>
						<p class="small">
							Flask, Django, PyMongo, Quiggle
						</p>
					</div>
					<p>
						I began teaching myself Python in 2019 after a work injury, using W3Schools and YouTube as my main resources. After earning a MERN full-stack certification, I returned to Python for backend development, integrating it into my web applications, including <a href="/quiggle" class="link-yellow" target="_blank">Quiggle</a>.
					</p>
				</div>
    </div>
</div>
{% include 'components/github-promo.html' %}
<div class='section-magenta'>
    <div class="section-content row-10 flip center max-width">
        <div class="row-10 unflip center">
            <h3 class="alt-font">Skills</h3>
            <img src="{{ url_for('static', filename='test.jpg') }}" alt="Section image">
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, iste provident ex obcaecati architecto, fugiat est non reprehenderit sint adipi.</p>
    </div>
</div>
{% endblock %}