{% extends 'base.html' %}

{% block subtitle %} - Home{% endblock %}

{% block content %}
<div class="hero">
    <h1>Jason Thompson,</h1>
    <h3>Web Developer</h3>
    <p>
        I've had a passion for designing websites and solving tough problems through code since childhood. I'm quick to learn, eager to grow, and always looking for ways to improve. For me, it’s all about creating something functional, unique, and meaningful.
    </p>
    <button class="button btn-yellow" id="portfolio-button">View My Work</button>
</div>
<div class='section'>
    <div class="section-content">
        <div class="section-image">
            <div class="section-name">Section</div>
            <img src="{{ url_for('static', filename='test.jpg') }}" alt="Section image">
        </div>
        <div class="section-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, iste provident ex obcaecati architecto, fugiat est non reprehenderit sint adipi.</div>
    </div>
</div>
<div class="space flex-col flex-acenter flex-jcenter flex-g1">
    <h3>Visit My Github</h3>
    <p>Dating back to 2020, this is a time capsule of my progression through learning the MERN stack, through developing my own python web framework.</p>
    <a href="https://www.github.com/jake-the-cake" target="_blank">
        <button class="button btn-magenta">Go To Github</button>
    </a>
</div>
<div class='section section-magenta'>
    <div class="section-content">
        <div class="section-image">
            <div class="section-name">Section</div>
            <img src="{{ url_for('static', filename='test.jpg') }}" alt="Section image">
        </div>
        <div class="section-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, iste provident ex obcaecati architecto, fugiat est non reprehenderit sint adipi.</div>
    </div>
</div>
something
<div class='section section-yellow'>
    <div class="section-content">
        <div class="section-image">
            <div class="section-name">Section</div>
            <img src="{{ url_for('static', filename='test.jpg') }}" alt="Section image">
        </div>
        <div class="section-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, iste provident ex obcaecati architecto, fugiat est non reprehenderit sint adipi.</div>
    </div>
</div>
{% endblock %}