{% extends 'base.html' %}

{% block subtitle %} - Projects{% endblock %}

{% block content %}
<div class="hero">
	<h1>My Projects</h1>
	<p>
		This gallery showcases applications, components, and web design concepts, all created solely to demonstrate my skills.
	</p>
	<div class="row-10 jcenter flip">
		<a href="#comps">
			<button class="btn-teal-outline">Components</button>
		</a>
		<a href="#designs">
			<button class="btn-yellow-outline">Concepts</button>
		</a>
		<a href="#apps">
			<button class="btn-magenta-outline">Apps</button>
		</a>
	</div>
</div>
{% include 'components/github-promo.html' %}
{% include 'components/demo-disclaimer.html' %}
{% include 'components/login-app.html' %}
<div class="section-magenta" id="apps">
	<div class="section-content row-10 column acenter max-width">
		<h3>Apps & Games</h3>
		<p class="small">
			Interactive tools and entertainment experiences showcasing functionality, creativity, and problem-solving skills.
		</p>
	</div>
</div>
<div class="space row-10 column max-width">
	{% with projects=apps %}
		{% include 'components/project-list.html' %}
	{% endwith %}
</div>
<div class="section-teal" id="comps">
	<div class="section-content row-10 column acenter max-width">
		<h3>Components</h3>
		<p class="small">
			Modular and reusable UI elements designed for efficiency and seamless integration into larger projects.
		</p>
	</div>
</div>
<div class="space">
	{% with projects=components %}
		{% include 'components/project-list.html' %}
	{% endwith %}
</div>
<div class="section-yellow" id="designs">
	<div class="section-content row-10 column acenter max-width">
		<h3>Design Concepts</h3>
		<p class="small">
			Visual and conceptual designs that emphasize aesthetics, innovation, and user-focused solutions.
		</p>
	</div>
</div>
<div class="space">
	{% with projects=concepts %}
		{% include 'components/project-list.html' %}
	{% endwith %}
</div>
{% endblock %}