{% extends 'base.html' %}

{% block subtitle %} - Projects{% endblock %}

{% block content %}
<div class="hero">
    <h1>My Projects</h1>
    <p>
        Here is a gallery containing applications, components, and web design concepts. These were all created strictly as demonstrations of my skillsets.
    </p>
    <div class="row-10 jcenter flip">
        <button class="btn-magenta">Apps</button>
        <button class="btn-magenta">Components</button>
        <button class="btn-magenta">Concepts</button>
        <button class="btn-yellow"">GitHub</button>
    </div>
</div>
<div class="space row-10 column">
    <p class="status">You Are Not Logged In</p>
    <form method="POST" class="row-10 column" target="/login">
        {{ login.hidden_tag() }}
        <div class="column">
            {{ login.email.label }} {{ login.email }}
        </div>
        <div class="column">
            {{ login.password.label }} {{ login.password }}
        </div>
        {{ login.submit(class='btn-yellow') }}
    </form>
</div>
<div class='section-teal'>
    <div class="section-content row-10 column acenter max-width">
        <h3>Demo Disclaimer</h3>
        <p class="small">
            The following applications, designs, etc are all intended to for demonstration purposes only.<br /> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dolorum nemo ipsa dolorem labore suscipit cumque ducimus consequuntur qui consectetur, fuga, eaque impedit nihil pariatur fugiat unde molestiae. Voluptates, rem.<br />
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia rerum deserunt pariatur, repudiandae nulla distinctio tempora nobis ut quas mollitia saepe natus minus accusamus consectetur quisquam dolor. Fuga, corrupti porro.
        </p>
    </div>
</div>
{% include 'github.html' %}
{% endblock %}